<% provide :title, t(".title") %>
<div class="signup-form">
  <h2>
    <%= t ".title" %>
  </h2>
  <p class="hint-text">
    <%= t ".welcome_login" %>
  </p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t(".log_in_btn"), class: "btn btn-success btn-lg btn-block" %>
    </div>
  <% end %>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
