<div class="col-md-4">
  <%= image_tag Settings.image.default_avatar, class: "img-thumbnail" %>
</div>
<div class="col-md-8 ">
  <div class="col-md-12 box-info">
    <p><%= t ".name" %></p>
    <%= user.name %>
  </div>
  <div class="col-md-12 box-info">
    <p><%= t ".email" %></p>
    <%= user.email %>
  </div>
  <div class="col-md-12 box-info">
    <p><%= t ".division" %></p>
    <%= division.division_name %>
  </div>
  <div class="col-md-12 box-info">
    <p><%= t ".role" %></p>
    <%= user.role %>
  </div>
</div>
