<div class="card-body">
  <div class="row">
    <div class="col-md-1 padding-0">
      <% if comment.user_avatar.attached? %>
        <%= image_tag comment.user_avatar, class: "img img-circle img-fluid circle-avatar-small" %>
      <% else %>
        <%= image_tag Settings.image.default_avatar, class: "img img-circle img-fluid circle-avatar-small" %>
      <% end %>
    </div>
    <div class="col-md-11 padding-0">
      <div class="col-md-12">
        <p>
          <strong><%= comment.user_name %></strong>
        </p>
      </div>
      <div class="col-md-12">
        <p>
          <%= comment.content %>
        </p>
      </div>
      <div class="col-md-12">
        <p class="text-secondary text-center pull-right">
          <%= time_ago_in_words comment.created_at %>
        </p>
      </div>
    </div>
  </div>
</div>
