<div>
  <h4>
    <%= t ".all_report" %>
    (<span id="num-reports">
      <%= reports.total_count %>
    </span>)
  </h4>
</div>
<%= form_tag manager_reports_path(page: params[:page], date: params[:date], name: params[:name], email: params[:email], status: params[:status], order_status: params[:order_status], order_created: params[:order_created], per_page: params[:per_page]), method: :put, remote: true, id: "checkbox-form" do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t ".select" %></th>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th>
          <%= layout_order_report_created params[:order_created] %>
        </th>
        <th>
          <%= layout_order_report_status params[:order_status] %>
        </th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody id="body-report-table">
      <%= render partial: "report_table", collection: @reports, as: :report %>
    </tbody>
  </table>
  <% if reports.total_count > Settings.paginate.per_page_default.to_i %>
    <div>
      <%= t(".per_page") %>
      <% if params[:per_page].eql? Settings.paginate.per_page_option_1 %>
        <%= link_per_page_manager_reports Settings.paginate.per_page_default %>
        <span><%= Settings.paginate.per_page_option_1 %></span>
      <% else %>
        <span><%= Settings.paginate.per_page_default %></span>
        <%= link_per_page_manager_reports Settings.paginate.per_page_option_1 %>
      <% end %>
    </div>
  <% end %>
  <%= submit_tag t(".checked"), class: "btn btn-link", id: "btn-checked-report" %>
  <%= link_to t(".show_all"), manager_reports_path %>
<% end %>
<%= paginate reports %>
