<div>
  <h4>
    <%= t ".all_report" %>
    (<span id="num-reports">
      <%= reports.total_count %>
    </span>)
  </h4>
</div>
<%= form_tag manager_reports_path(page: params[:page], date: params[:date], name: params[:name], email: params[:email], status: params[:status], order_status: params[:order_status], order_created: params[:order_created], per_page: params[:per_page], show_all: params[:show_all]), method: :put, remote: true, id: "checkbox-form" do %>
  <button class="btn btn-default report-top-option dropdown-toggle" type="button" data-toggle="dropdown">
    <%= t ".status" %>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= option_update_status_button :checked, Settings.icon.check, t(".checked") %>
    </li>
    <li>
      <%= option_update_status_button :waiting, Settings.icon.spinner, t(".waiting") %>
    </li>
    <li>
      <%= option_update_status_button :rejected, Settings.icon.times, t(".reject") %>
    </li>
  </ul>
  <% if params[:show_all] %>
    <%= link_show_paginate_reports nil, Settings.icon.pager, t(".paginate") %>
  <% else %>
    <%= link_show_paginate_reports true, Settings.icon.list, t(".show_all") %>
  <% end %>
  <%= link_to manager_reports_path(per_page: params[:per_page], show_all: params[:show_all]), class: "report-top-option btn btn-default" do %>
    <i class="fas fa-undo"></i>
    <%= t ".clear" %>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t ".select" %></th>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th>
          <%= layout_order_report_created params[:order_created] %>
        </th>
        <th>
          <%= layout_order_report_status params[:order_status] %>
        </th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody id="body-report-table">
      <%= render partial: "report_table", collection: @reports, as: :report %>
    </tbody>
  </table>
  <% if reports.total_count > Settings.paginate.per_page_default.to_i && !params[:show_all] %>
    <div>
      <%= t ".per_page" %>
      <% if params[:per_page].eql? Settings.paginate.per_page_option_1 %>
        <%= link_per_page_manager_reports Settings.paginate.per_page_default %>
        <span><%= Settings.paginate.per_page_option_1 %></span>
      <% else %>
        <span><%= Settings.paginate.per_page_default %></span>
        <%= link_per_page_manager_reports Settings.paginate.per_page_option_1 %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% unless params[:show_all] %>
  <%= paginate reports %>
<% end %>
