<% reports.each.with_index(1) do |report, index| %>
  <tr>
    <td>
      <% if report.waiting? %>
        <%= check_box_tag "report_ids[]", report.id, false, class: "report-checkbox" %>
      <% else %>
        <%= check_box_tag "report_ids[]", report.id, false, disabled: true %>
      <% end %>
    </td>
    <td>
      <%= item_id index, params[:page] %>
    </td>
    <td><%= report.user.name %></td>
    <td><%= report.user.email %></td>
    <td><%= report.created_at.strftime Settings.date.validate %></td>
    <td>
      <%= report.status %>
    </td>
    <td>
      <%= t ".detail" %>
    </td>
  </tr>
<% end %>
