<tr>
  <td>
    <%= check_box_tag "report_ids[]", report.id, false, class: "report-checkbox" %>
  </td>
  <td>
    <%= item_id report_counter, params[:page] %>
  </td>
  <td><%= report.user_name %></td>
  <td><%= report.user_email %></td>
  <td><%= report.created_at.strftime Settings.date.validate %></td>
  <td>
    <%= report.status %>
  </td>
  <td>
    <%= link_to t(".detail"), manager_report_path(report.id) %>
  </td>
</tr>
