<%= provide :title, t(".title") %>
<div class="col-md-8">
  <div class="col-xs-12 box-show" id="members-table-manager">
    <h4 class="col-md-12">
      <%= t ".member" %>
      <span id="total-members">
        (<%= @members.total_count %>)
      </span>
    </h4>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".email" %></th>
            <th><%= t ".division" %></th>
            <th><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody id="body-members-table">
          <%= render partial: "member", collection: @members, as: :member %>
        </tbody>
      </table>
      <div>
        <% if @members.total_count > Settings.paginate.per_page_default.to_i %>
          <span><%= t ".per_page" %></span>
          <% if params[:per_page].eql? Settings.paginate.per_page_option_1 %>
            <%= link_per_page_manager_users Settings.paginate.per_page_default %>
            <span><%= Settings.paginate.per_page_option_1 %></span>
          <% else %>
            <span><%= Settings.paginate.per_page_default %></span>
            <%= link_per_page_manager_users Settings.paginate.per_page_option_1 %>
          <% end %>
        <% end %>
      </div>
      <%= paginate @members %>
    </div>
  </div>
  <div class="col-xs-12 box-show">
    <h4 class="col-md-12">
      <%= t ".manager" %>
      (<%= @managers.size %>)
    </h4>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".email" %></th>
          </tr>
        </thead>
        <tbody id="body-report-table">
          <%= render partial: "manager", collection: @managers, as: :manager %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-4 box-user-searching">
  <div class="col-xs-12 box-show">
    <%= render "shared/search_user" %>
  </div>
</div>
