<div class="input-group" id="form-report-filter">
  <%= search_form_for report do |f| %>
    <div class="col-xs-4">
      <p>
        <%= t ".date_created" %>
      </p>
      <%= f.date_field :created_at_eq, class: "input-filter-report" %>
    </div>
    <div class="col-xs-4">
      <p>
        <%= t ".status" %>
      </p>
      <%= f.select :status_eq, Settings.select_option.filter_status, {}, { class: "input-filter-report" } %>
    </div>
    <%= hidden_field_tag :per_page, params[:per_page] %>
    <div class="col-xs-4 div-submit-filter-report">
      <%= f.submit t(".search"), class: "btn btn-success" %>
    </div>
  <% end %>
</div></br>
