<% reports.each.with_index(1) do |report, index| %>
  <tr>
    <td>
      <%= item_id index, page %>
    </td>
    <td><%= report.created_at %></td>
    <td><%= report.updated_at %></td>
    <td><%= report.status %></td>
    <td>
      <%= t ".detail" %>
      |
      <% if report.waitting? %>
        <%= link_to t(".delete"), report_path(report), method: :put, data: { confirm: t(".confirm_delete") }, remote: :true %>
      <% end %>
    </td>
  </tr>
<% end %>
