<tr id="<%= "report-#{report.id}" %>" class="<%= "report_new_comment" unless report_new_comment(report.id) %>">
  <td class="zui-sticky-col">
    <%= item_id report_counter, params[:page] %>
  </td>
  <td><%= report.created_at.strftime Settings.date.validate %></td>
  <td><%= report.today_plan.first Settings.report_table_text %></td>
  <td><%= report.actual.first Settings.report_table_text %></td>
  <td><%= report.tomorrow_plan.first Settings.report_table_text %></td>
  <td><%= report.status %></td>
  <td class="zui-sticky-col-right">
    <%= link_to t("detail"), report_path(report.id) %>
    |
    <% if report.waiting? %>
      <%= link_to t(".delete"), report_path(report, status: params[:status], date: params[:date], page: params[:page]), method: :delete, data: { confirm: t(".confirm_delete") }, remote: :true %>
      |
      <%= link_to t(".edit"), edit_report_path(report) %>
    <% end %>
  </td>
</tr>
