<%= provide :title, t(".daily_report") %>
<div class="div-all-report">
  <h2 class="title-center report-title box-show">
    <%= t ".daily_report" %>
  </h2>
  <div class="box-show">
    <div class="div-create-btn">
      <% unless current_user.division_id.eql? Settings.division.default %>
        <%= link_to t(".create"), new_report_path, class: "btn btn-info", role: "button" %>
      <% end %>
    </div>
    <% if current_user.reports.any? %>
      <div class="div-report-filter">
        <%= render "filter_form" %>
      </div>
      <div id="all-report">
        <%= render "all_report", reports: @reports, all_reports: @all_reports %>
      </div>
    <% end %>
  </div>
</div>
