<nav id="sidebar">
  <div class="sidebar-header">
    <h3 id="logo">
      <%= link_to t(".logo"), root_path %>
    </h3>
  </div>
  <ul class="list-unstyled components">
    <% if current_user.member? %>
      <li>
        <%= link_to t(".account"), account_index_path %>
      </li>
      <li>
        <%= link_to t(".report"), reports_path %>
      </li>
      <li>
        <%= link_to t(".request"), "#" %>
      </li>
    <% elsif current_user.manager? %>
      <li>
        <%= link_to t(".account"), account_index_path %>
      </li>
      <li>
        <%= link_to t(".user"), manager_users_path %>
      </li>
      <li>
        <%= link_to t(".report"), manager_reports_path %>
      </li>
      <li>
        <%= link_to t(".request"), "#" %>
      </li>
    <% elsif current_user.admin? %>
      <li>
        <%= link_to t(".account"), account_index_path %>
      </li>
      <li>
        <%= link_to t("admin"), "#" %>
      </li>
    <% end %>

  </ul>
</nav>
