<nav id="sidebar">
  <div class="sidebar-header">
    <h3 id="logo">
      <%= link_to t(".logo"), root_path %>
    </h3>
  </div>
  <ul class="list-unstyled components">
    <% if current_user.member? %>
      <li>
        <%= link_to account_index_path do %>
          <i class="fas fa-user sidebar-icon"></i>
          <%= t ".account" %>
        <% end %>
      </li>
      <li>
        <%= link_to reports_path do %>
          <i class="fas fa-tasks sidebar-icon"></i>
          <%= t ".report" %>
          <div class="pull-right notification" id="side-bar-new-comment-notify">
            <% if new_comment_notify.present? %>
              <span>
                <%= new_comment_notify.count %>
              </span>
            <% end %>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fas fa-list-alt sidebar-icon"></i>
          <%= t ".request" %>
        <% end %>
      </li>
    <% elsif current_user.manager? %>
      <li>
        <%= link_to account_index_path do %>
          <i class="fas fa-user sidebar-icon"></i>
          <%= t ".account" %>
        <% end %>
      </li>
      <li>
        <%= link_to manager_users_path do %>
          <i class="fas fa-users sidebar-icon"></i>
          <%= t ".user" %>
        <% end %>
      </li>
      <li>
        <%= link_to manager_reports_path do %>
          <i class="fas fa-tasks sidebar-icon"></i>
          <%= t ".report" %>
          <div class="pull-right notification" id="side-bar-new-comment-notify">
            <% if new_comment_notify.present? %>
              <span>
                <%= new_comment_notify.count %>
              </span>
            <% end %>
          </div>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fas fa-list-alt sidebar-icon"></i>
          <%= t ".request" %>
        <% end %>
      </li>
    <% elsif current_user.admin? %>
      <li>
        <%= link_to account_index_path do %>
          <i class="fas fa-user sidebar-icon"></i>
          <%= t ".account" %>
        <% end %>
      </li>
    <% end %>

  </ul>
</nav>
